body {
    font-family: sans-serif;
    margin: 2rem;
}

#books-container{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.book-card {
    border: 1px solid #ccc;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 6px;
    background-color: bisque;
}

.book-card button {
    margin-top: 0.5rem;
    background-color: crimson;
    color: white;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 4px;
}

#book-form input {
    display: block;
    margin: 0.5rem 0;
}