body {
    font-family: sans-serif;
    margin: 2rem;
}

#books-container{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.book-card {
    border: 1px solid #ccc;
    padding: 1rem;
    width: 200px;
    border-radius: 8px;
    background-color: bisque;
}